

.marker{
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    transition:
        width .5s,
        height .5s;
    border-radius:10px;
    cursor: pointer;
}

.marker_name, .marker_info, .marker_infoExpanded{
    border-radius:10px; 
    padding: 10px;
    background-color: inherit;
     font-family:Paula, sans-serif;
     font-size: x-large;
     line-height: 1;
     color: inherit;
     top: 0;
     left: 0;
    position: absolute;
     display: inline-block;
   white-space: nowrap;
     box-sizing: border-box;
   }

   .marker_name {
    font-weight: bold;
    z-index: 2000; /* Ensure it's above the info */
  }
  
  .marker_info {
    transition: left 0.5s ease; /* Animate the width change */
    z-index: 1000; /* Below the name tag */
  }
  .marker_infoExpanded{
    width: inherit;
    text-wrap: wrap;
    text-align: justify;
  }

  .leaflet-marker-icon {
    background-color: transparent !important;
    border: none !important;
  }